@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&family=Lexend:wght@100..900&family=Rubik+Dirt&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

* {
  scroll-behavior: smooth !important;
}


@theme inline {
  --color-primary: yellow;
  --color-black-custom: #101010;
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --animate-shimmer-slide: shimmer-slide var(--speed) ease-in-out infinite alternate;
  --animate-spin-around: spin-around calc(var(--speed) * 2) infinite linear;
  --animate-toaster: toaster-show 3.2s ease-in;
  --animate-grow: grow-horizontal 0.2s forwards linear;
  --animate-fade-in: fade-in 0.2s linear;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-from-left: from-left 0.3s forwards linear;
  --animate-fade-in-long: fade-in-long 0.2s linear;
  --animate-fade-in-verylong: fade-in-long 0.5s linear;
  --animate-from-rigth: from-right 0.8s forwards linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --font-anton: "Anton", "sans-serif";
  --font-lexend: "Lexend";
  --font-indie: "Indie Flower";
  --font-rubik: "Rubik";
  --font-rubik-dirt: "Rubik Dirt";

  @keyframes from-left {
    from {
      opacity: 0;
      transform: translateX(-100%)
    }
    to {
      opacity: 1;
      transform: translateX(0%)
    }
  }

  @keyframes from-right {
    0% {
      opacity: 0;
      transform: translateX(200%)
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0%)
    }
  }

  @keyframes toaster-show {
    0% {
      right: -160px;
      opacity: 0;
    }
    10% {
      right: 16px;
      opacity: 1;
    }
    50%: {
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes grow-horizontal {
    from {
      width: 0;}
    to {
      width: 100%;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;}
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-long {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes shimmer-slide {
    to {
      transform: translate(calc(100cqw - 100%), 0);
    }
  }

  @keyframes spin-around {
    0% {
      transform: translateZ(0) rotate(0);}
    15%, 35% {
      transform: translateZ(0) rotate(90deg);}
    65%, 85% {
      transform: translateZ(0) rotate(270deg);}
    100% {
      transform: translateZ(0) rotate(360deg);
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);}
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @keyframes marquee-vertical {
    from {
      transform: translateY(0);}
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #101010 !important;
}



body {
  margin: 0;
}


button {
  border-radius: 8px;
  border: 1px solid yellow;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
